<h2 mat-dialog-title>
  Section Group
</h2>

<div mat-dialog-content>

  <form [formGroup]="sectionGroupForm">
    <mat-form-field>
      <mat-label>Group Name</mat-label>
      <input
        matInput
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Colour</mat-label>
      <input
        matInput
        formControlName="colour"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    (click)="onSaveClick()"
    [disabled]="!sectionGroupForm.valid">Submit
  </button>

  <button
    mat-button
    (click)="onCancelClick()"
  >Cancel</button>
</div>
